{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint-config-airbnb", "react-app", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "import/no-extraneous-dependencies": 0
  },
  "env": {
    "jest": true
  }
}
