.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.tag {
  background: rgba(51, 51, 51, 0.1);
  border-radius: 16px;

  font-family: Helvetica, serif;
  font-size: 14px;
  line-height: 22px;
  margin: 12px 12px 0 0;
  overflow: hidden;
  padding: 2px 12px;
  text-align: center;

  text-overflow: ellipsis;
  white-space: nowrap;

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}
